importing the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

Data Collection and Data Procissing

In [2]:
# loadig dataset 
sonar_data = pd.read_csv('/content/Copy of sonar data - Copy of sonar data.csv' , header = None)

In [3]:
sonar_data.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [5]:
#Number of rows and columns 
sonar_data.shape

(208, 61)

In [7]:
sonar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       208 non-null    float64
 1   1       208 non-null    float64
 2   2       208 non-null    float64
 3   3       208 non-null    float64
 4   4       208 non-null    float64
 5   5       208 non-null    float64
 6   6       208 non-null    float64
 7   7       208 non-null    float64
 8   8       208 non-null    float64
 9   9       208 non-null    float64
 10  10      208 non-null    float64
 11  11      208 non-null    float64
 12  12      208 non-null    float64
 13  13      208 non-null    float64
 14  14      208 non-null    float64
 15  15      208 non-null    float64
 16  16      208 non-null    float64
 17  17      208 non-null    float64
 18  18      208 non-null    float64
 19  19      208 non-null    float64
 20  20      208 non-null    float64
 21  21      208 non-null    float64
 22  22      208 non-null    float64
 23  23      208 non-null    float64
 24  24      208 non-null    float64
 25  25      208 non-null    float64
 26  26      208 non-null    float64
 27  27      208 non-null    float64
 28  28      208 non-null    float64
 29  29      208 non-null    float64
 30  30      208 non-null    float64
 31  31      208 non-null    float64
 32  32      208 non-null    float64
 33  33      208 non-null    float64
 34  34      208 non-null    float64
 35  35      208 non-null    float64
 36  36      208 non-null    float64
 37  37      208 non-null    float64
 38  38      208 non-null    float64
 39  39      208 non-null    float64
 40  40      208 non-null    float64
 41  41      208 non-null    float64
 42  42      208 non-null    float64
 43  43      208 non-null    float64
 44  44      208 non-null    float64
 45  45      208 non-null    float64
 46  46      208 non-null    float64
 47  47      208 non-null    float64
 48  48      208 non-null    float64
 49  49      208 non-null    float64
 50  50      208 non-null    float64
 51  51      208 non-null    float64
 52  52      208 non-null    float64
 53  53      208 non-null    float64
 54  54      208 non-null    float64
 55  55      208 non-null    float64
 56  56      208 non-null    float64
 57  57      208 non-null    float64
 58  58      208 non-null    float64
 59  59      208 non-null    float64
 60  60      208 non-null    object
dtypes: float64(60), object(1)
memory usage: 99.2+ KB

In [9]:
sonar_data.describe().T

    count      mean       std     min       25%      50%       75%     max
0   208.0  0.029164  0.022991  0.0015  0.013350  0.02280  0.035550  0.1371
1   208.0  0.038437  0.032960  0.0006  0.016450  0.03080  0.047950  0.2339
2   208.0  0.043832  0.038428  0.0015  0.018950  0.03430  0.057950  0.3059
3   208.0  0.053892  0.046528  0.0058  0.024375  0.04405  0.064500  0.4264
4   208.0  0.075202  0.055552  0.0067  0.038050  0.06250  0.100275  0.4010
5   208.0  0.104570  0.059105  0.0102  0.067025  0.09215  0.134125  0.3823
6   208.0  0.121747  0.061788  0.0033  0.080900  0.10695  0.154000  0.3729
7   208.0  0.134799  0.085152  0.0055  0.080425  0.11210  0.169600  0.4590
8   208.0  0.178003  0.118387  0.0075  0.097025  0.15225  0.233425  0.6828
9   208.0  0.208259  0.134416  0.0113  0.111275  0.18240  0.268700  0.7106
10  208.0  0.236013  0.132705  0.0289  0.129250  0.22480  0.301650  0.7342
11  208.0  0.250221  0.140072  0.0236  0.133475  0.24905  0.331250  0.7060
12  208.0  0.273305  0.140962  0.0184  0.166125  0.26395  0.351250  0.7131
13  208.0  0.296568  0.164474  0.0273  0.175175  0.28110  0.386175  0.9970
14  208.0  0.320201  0.205427  0.0031  0.164625  0.28170  0.452925  1.0000
15  208.0  0.378487  0.232650  0.0162  0.196300  0.30470  0.535725  0.9988
16  208.0  0.415983  0.263677  0.0349  0.205850  0.30840  0.659425  1.0000
17  208.0  0.452318  0.261529  0.0375  0.242075  0.36830  0.679050  1.0000
18  208.0  0.504812  0.257988  0.0494  0.299075  0.43495  0.731400  1.0000
19  208.0  0.563047  0.262653  0.0656  0.350625  0.54250  0.809325  1.0000
20  208.0  0.609060  0.257818  0.0512  0.399725  0.61770  0.816975  1.0000
21  208.0  0.624275  0.255883  0.0219  0.406925  0.66490  0.831975  1.0000
22  208.0  0.646975  0.250175  0.0563  0.450225  0.69970  0.848575  1.0000
23  208.0  0.672654  0.239116  0.0239  0.540725  0.69850  0.872175  1.0000
24  208.0  0.675424  0.244926  0.0240  0.525800  0.72110  0.873725  1.0000
25  208.0  0.699866  0.237228  0.0921  0.544175  0.75450  0.893800  1.0000
26  208.0  0.702155  0.245657  0.0481  0.531900  0.74560  0.917100  1.0000
27  208.0  0.694024  0.237189  0.0284  0.534775  0.73190  0.900275  1.0000
28  208.0  0.642074  0.240250  0.0144  0.463700  0.68080  0.852125  1.0000
29  208.0  0.580928  0.220749  0.0613  0.411400  0.60715  0.735175  1.0000
30  208.0  0.504475  0.213992  0.0482  0.345550  0.49035  0.641950  0.9657
31  208.0  0.439040  0.213237  0.0404  0.281400  0.42960  0.580300  0.9306
32  208.0  0.417220  0.206513  0.0477  0.257875  0.39120  0.556125  1.0000
33  208.0  0.403233  0.231242  0.0212  0.217575  0.35105  0.596125  0.9647
34  208.0  0.392571  0.259132  0.0223  0.179375  0.31275  0.593350  1.0000
35  208.0  0.384848  0.264121  0.0080  0.154350  0.32115  0.556525  1.0000
36  208.0  0.363807  0.239912  0.0351  0.160100  0.30630  0.518900  0.9497
37  208.0  0.339657  0.212973  0.0383  0.174275  0.31270  0.440550  1.0000
38  208.0  0.325800  0.199075  0.0371  0.173975  0.28350  0.434900  0.9857
39  208.0  0.311207  0.178662  0.0117  0.186450  0.27805  0.424350  0.9297
40  208.0  0.289252  0.171111  0.0360  0.163100  0.25950  0.387525  0.8995
41  208.0  0.278293  0.168728  0.0056  0.158900  0.24510  0.384250  0.8246
42  208.0  0.246542  0.138993  0.0000  0.155200  0.22255  0.324525  0.7733
43  208.0  0.214075  0.133291  0.0000  0.126875  0.17770  0.271750  0.7762
44  208.0  0.197232  0.151628  0.0000  0.094475  0.14800  0.231550  0.7034
45  208.0  0.160631  0.133938  0.0000  0.068550  0.12135  0.200375  0.7292
46  208.0  0.122453  0.086953  0.0000  0.064250  0.10165  0.154425  0.5522
47  208.0  0.091424  0.062417  0.0000  0.045125  0.07810  0.120100  0.3339
48  208.0  0.051929  0.035954  0.0000  0.026350  0.04470  0.068525  0.1981
49  208.0  0.020424  0.013665  0.0000  0.011550  0.01790  0.025275  0.0825
50  208.0  0.016069  0.012008  0.0000  0.008425  0.01390  0.020825  0.1004
51  208.0  0.013420  0.009634  0.0008  0.007275  0.01140  0.016725  0.0709
52  208.0  0.010709  0.007060  0.0005  0.005075  0.00955  0.014900  0.0390
53  208.0  0.010941  0.007301  0.0010  0.005375  0.00930  0.014500  0.0352
54  208.0  0.009290  0.007088  0.0006  0.004150  0.00750  0.012100  0.0447
55  208.0  0.008222  0.005736  0.0004  0.004400  0.00685  0.010575  0.0394
56  208.0  0.007820  0.005785  0.0003  0.003700  0.00595  0.010425  0.0355
57  208.0  0.007949  0.006470  0.0003  0.003600  0.00580  0.010350  0.0440
58  208.0  0.007941  0.006181  0.0001  0.003675  0.00640  0.010325  0.0364
59  208.0  0.006507  0.005031  0.0006  0.003100  0.00530  0.008525  0.0439

In [11]:
sonar_data[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

In [12]:
sonar_data.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [13]:
# separating data and labels 
X = sonar_data.drop(columns= 60 , axis = 1 ) 
Y = sonar_data[60]

Training and Testing Data

In [14]:
X_train , X_test , Y_train , Y_test = train_test_split(X ,Y , test_size = 0.2 , shuffle = True , random_state = 1 , stratify= Y)

Model_training -----> LogisticRegression

In [15]:
model = LogisticRegression()

In [16]:
model.fit(X_train , Y_train )

LogisticRegression()

Model Evaluation

In [17]:
# Accuracy of training data 
train_data_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(train_data_prediction , Y_train)

In [19]:
print('accuracy of training data ' + str(train_data_accuracy * 100) + ' %')

accuracy of training data 84.33734939759037 %

In [21]:
#Accuracy of Testing data 
test_data_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(test_data_prediction , Y_test)

In [22]:
print('accuracy of testing data ' + str(test_data_accuracy * 100) + ' %')

accuracy of testing data 69.04761904761905 %

Making a pridection System

In [25]:
input_data =np.asarray((0.0164,0.0173,0.0347,0.007,0.0187,0.0671,0.1056,0.0697,0.0962,0.0251,0.0801,0.1056,0.1266,0.089,0.0198,0.1133,0.2826,0.3234,0.3238,0.4333,0.6068,0.7652,0.9203,0.9719,0.9207,0.7545,0.8289,0.8907,0.7309,0.6896,0.5829,0.4935,0.3101,0.0306,0.0244,0.1108,0.1594,0.1371,0.0696,0.0452,0.062,0.1421,0.1597,0.1384,0.0372,0.0688,0.0867,0.0513,0.0092,0.0198,0.0118,0.009,0.0223,0.0179,0.0084,0.0068,0.0032,0.0035,0.0056,0.004)).reshape(1,-1)
prediction = model.predict(input_data)

if(prediction == 'R') :
  print ("Peediction is Rock")
else : 
  print('prediction is Mine')

Peediction is Rock